body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}

ul.navbar {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0 24px;
  display: flex;
  background-color: #ffffff;
}

.nav-links {
  margin-left: 30px;
}

.signup-item {
  margin-left: 24px;
}

ul.navbar li a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: #333333;
}

.brand {
  margin-right: 40px;
}

.menu {
  margin-left: auto;
  display: flex;
  gap: 32px; 
}

.ApplyFlow {
  font-weight: bold;
  font-size: 1.2rem;
  color: #111827; /* Apply color */
}

.ApplyFlow .flow {
  color: #001eff; /* Flow color */
}

.ApplyFlow .flow {
  background: linear-gradient(90deg, #001eff, #7c3aed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ApplyFlow:hover .flow {
  color: #000ecb;
}

ul li a.Signup {
  background-color: #001eff;
  color: #ffffff;
  padding: 7px 16px;
  border-radius: 5px;
  font-weight: bold;
}

.Signup:hover {
  background-color: #000ecb;
}

h1 {
    color: #4f46e5;
    margin-bottom: 10px;
}

p {
    font-size: 1.1rem;
}


@media (max-width: 768px) {
  ul.navbar {
    flex-direction: column;
    align-items: stretch;
  }

  .signup-item {
    margin-left: 0;
  }

  ul.navbar li a {
    text-align: left;
  }
}
